
@{
    ViewData["Title"] = "Index";
}
@using EduProject.Areas.Admin.ViewModels.UserViewModels
@model IEnumerable<UserViewModel>
<div class="content-wrapper">
    <div class="row">
        <div class="col-lg-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Users</h4>

                    <div class="table-responsive">

                        <a class="btn btn-primary" asp-action="create">Create</a>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>UserName</th>
                                    <th>Fullname</th>
                                    <th>Email</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (UserViewModel user in Model)
                                {
                                    <tr>

                                        <td>Username:@user.UserName</td>
                                        <td>Fullname:@user.Fullname</td>
                                        <td>Fullname:@user.Email</td>
                                        
                                        <td><a class="btn btn-primary" asp-action="Detail" asp-route-id="@user.Id">Detail</a></td>
                                        <td><a class="btn btn-warning" asp-action="ChangeRole" asp-route-id="@user.Id">Change Role</a></td>

                                        <td><a class="btn btn-danger" asp-action="Deactivate" asp-route-id="@user.Id">Deactivate</a></td>



                                    </tr>
                                }


                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<!-- content-wrapper ends -->
